.containerLogin{
 display: grid;
 height: 100vh;
 grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}
.splitLeft{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 /* background: white; */
}

.loginLabel{
 font-size: 40px;
 font-weight: bold;
}

.formContainer{
 display: flex;
 flex-direction: column;
 margin-top: 80px;
}

.labelsInput{
 font-weight: bold;
 margin-left: 65px;
 margin-bottom: 5px;
}

.alignIcon{
 display: flex;
 align-items: center;
}

.iconEmail{
 margin-right: 20px;
 margin-top: -30px;
 width: 45px;
 height: 45px;
}

.iconPassword{
 margin-left: 5px;
 margin-right: 25px;
 margin-top: -30px;
 width: 35px;
 height: 45px;
}

.inputLogin{
 width: 330px;
 height: 70px;
 border: 1px solid #989494;
 padding-left: 10px;
 border-radius: 10px;
 margin-bottom: 30px;
}

.inputLogin::placeholder{
 font-size: 15px;
}


.centerlabel{
 /* margin-left: 40px; */
 text-align: center;
}

.loginButton{
 margin-top: 20px;
 width: 50px;
 margin-left: 45%;
}

.splitRight{
 margin-left: -11px;
 background-size: cover;
 background-position: center;
} 