<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <button>Detalhe</button>
    <div class="popup-wrapper">
        <div class="popup">
            <div class="popup-close">x</div>
            <div class="popup-content">
                <div className="nome">
                    <h2>Nome</h2>
                </div>
                <div className="especie">
                    <h3>Espécie</h3>
                    <p>TESTE</p>
                </div>
                <div className="idade">
                    <h3>Idade</h3>
                    <p>TESTE</p>
                </div>
                <div className="local">
                    <h3>Local</h3>
                    <p>TESTE</p>
                </div>
                <div className="raca">
                    <h3>Raça</h3>
                    <p>TESTE</p>
                </div>
                <div className="porte">
                    <h3>Porte</h3>
                    <p>TESTE</p>
                </div>
                <div className="microchip">
                    <h3>Microchip</h3>
                    <p>TESTE</p>
                </div>
                <div className="sobre_o_pet">
                    <h3>Sobre o pet</h3>
                    <p>TESTE</p>
                <a href="google">Adotar</a>
                </div>
            </div>
        </div>
    </div>
    <script src="./script.js"></script>
</body>
</html>