.NavBarMain {
  height: 70;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
}

.logo {
  justify-self: start;
  margin-left: -0.1rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 3%;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-top: 2rem;
  margin-left: 15%;
  li:last-child {
    //background-color: red;
    margin-top: -0.28rem;
  }
}
.nav-links {
  font-weight: bold;
  text-decoration: none;
  &:hover {
    color: #3dc1d3;
  }
}
