.containerLogin {
  display: grid;
  height: 92.1vh;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}

.splitLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: white; */
}

.cadastroLabel {
  font-size: 40px;
  font-weight: bold;
}

#motivoDoacao {
  padding: 2px 5px;
  width: 150px;
}

.checkboxCadastro {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: -280px;
}

.signUpformContainer {
  display: flex;
  flex-direction: column;
}

.labelsInput {
  font-weight: bold;
  margin-left: 65px;
  margin-bottom: 5px;
}

.alignIcon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.marginInput {
  margin-right: 20px;
}

.inputLogin {
  width: 260px;
  height: 48px;
  border: 1px solid #989494;
  padding-left: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.inputLogin::placeholder {
  font-size: 15px;
}

.centerlabel {
  /* margin-left: 40px; */
  text-align: center;
}

.signUpButton {
  /* margin-top: 20px; */
  width: 190px;
  height: 58px;
  /* margin-left: 45%; */
}

.splitRight {
  margin-left: -11px;
  background-size: cover;
  background-position: center;
}
